@use '../abstracts' as *;

.about {
  &__text {
    max-width: 800px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    color: rgba($text-color, 0.9);
    background: $card-bg;
    border: 1px solid $accent-color-start;
    border-radius: 1rem;
    padding: 2rem;
  }
}
