@use '../abstracts' as *;

.projects {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 0;
  position: relative;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 2rem;
  }

  &__title {
    font-size: $font-size-2xl;
    color: $text-color;
    text-align: left;
    margin-bottom: 2rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    gap: 4rem;
    justify-content: center;
    width: 100%;
  }
}
