@use '../abstracts' as *;

.hero {
  display: flex;
  align-items: center;
  padding: 15rem 7rem;
  position: relative;
  width: 100%;

  &__content {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__info {
    position: absolute;
    left: 5%;
  }

  &__name {
    font-size: $font-size-3xl;
    margin-bottom: 1rem;
    color: $text-color;
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: $dev-gradient;
    }
  }

  &__profession {
    font-size: $font-size-xl;
    color: $text-color;
    margin-bottom: 2rem;
  }

  &__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 5%;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: inherit;
      padding: 2px;
      background: $dev-gradient;
      -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    max-width: 600px;
    color: rgba($text-color, 0.9);
    font-size: $font-size-md;
    line-height: 1.6;

    p:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
