// Colors
$background-color: #0A0A0A;
$text-color: #FAFAFA;
$accent-color-start: #1ACDD5;
$accent-color-end: #7560EE;
$design-accent: #EF42FF;
$card-bg: rgba($background-color, 0.8);

// Typography
$font-primary: 'Inter', sans-serif;

// Effects
$blur-effect: blur(10px);

// Gradients
$gradient-border: linear-gradient(135deg, $accent-color-start, $accent-color-end);
