@use '../abstracts' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  transition: $transition-base;
  color: $text-color;
  font-size: 2rem;

  &:hover {
    transform: translateY(-1px) scale(1.1);
    color: $accent-color-end;
  }

  i {
    font-size: 2rem;
  }
}
