@use '../abstracts' as *;

.contact {
  margin: 0 auto;
  padding: 8rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 1rem;
  width: 30rem;
  height: 20rem;
  background-color: $card-bg;

  &__title {
    font-size: $font-size-2xl;
    color: $text-color;
    margin-bottom: 3rem;
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  &__link {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition-base;
    position: relative;
    color: $text-color;

    i {
      font-size: 2rem;
    }

    &:hover {
      transform: translateY(-1px) scale(1.1);
      color: $accent-color-end;
    }
  }
}
