@use '../abstracts' as *;

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: rgba($background-color, 0.1); // Quasi trasparente
  backdrop-filter: blur(5px); // Aggiunge un effetto blur per leggibilità
  padding: 0.5rem 1.5rem; // 
  border-bottom: 1px solid rgba($accent-color-start, 0.2);

  &__logo {
    height: 2.5rem;
    display: flex;
    align-items: center;

    img {
      height: 35px; // Ridotta leggermente l'altezza del logo
      width: auto;
      object-fit: contain;
    }
  }

  &__menu {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  &__link {
    color: $text-color;
    text-decoration: none;
    font-size: $font-size-sm;
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
    padding-bottom: 0.3rem; // Ridotto il padding
    transition: color 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: $dev-gradient;
      transition: width 0.3s ease;
    }

    &:hover {
      color: rgba($text-color, 0.9);

      &::after {
        width: 100%;
      }
    }
  }
}
