@use '../abstracts' as *;

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  backdrop-filter: $blur-effect;
  background: rgba($background-color, 0.8);

  &__menu {
    display: flex;
    gap: 2rem;
  }

  &__link {
    color: rgba($text-color, 0.8);
    transition: $transition-base;

    &:hover {
      color: $text-color;
    }
  }
}
