@use '../abstracts' as *;

.background {
  &__image {
    position: fixed;
    opacity: 0.4;
    will-change: transform;
    pointer-events: none;
    filter: blur(20px);

    &--top {
      width: 800px;
      height: 800px;
      right: -200px;
      top: 100vh;
      z-index: -1;
      background: $accent-color-start;
    }

    &--bottom {
      width: 1000px;
      height: 1000px;
      left: -300px;
      bottom: 0;
      z-index: -1;
      background: $design-accent;
    }
  }
}
